.Header {
    background-image: url('http://www.bates.edu/wordpress/files/2016/07/gradient2.jpg');
    padding: 3.5%;
}
.Header ul {
    text-align: center;
    list-style: none;
    width: 100%;
    margin: auto;
}
.Header li {
    display: inline-block;
    margin: 10px;
    color: rgb(190, 167, 167);
}


.tonbut {
    text-align: center;
    list-style: none;
    text-decoration: none;
    margin: 10px;
    color: rgb(190, 167, 167);
    width: 100%;
}